Package: com.junesiphone.xeninfo
Name: XenInfo
Depends: mobilesubstrate, firmware (>= 9.0)
Version: 2.2
Architecture: iphoneos-arm
Description: Music, Weather, and battery info for XenHTML
Maintainer: Junes <junesgraphics@gmail.com>
Author: JunesIphone & Matchstic <junesgraphics@gmail.com>
Section: Addons (Tweaks)
Depiction: http://www.junesiphone.com/supersecret/depiction.php?iframe=depiction/xeninfo
