Package: com.junesiphone.xeninfo
Name: XenInfo
Depends: mobilesubstrate, firmware (>= 9.0)
Version: 2.2
Conflicts: org.bigboss.datameter, cydia.kiiimo.org.datameter, com.repo.xarold.com.datameter, re.rejail.datameter, org.coolstar.ventana-modern, com.repo.xarold.com.ventana, cydia.kiiimo.org.ventana
Architecture: iphoneos-arm
Description: Music, Weather, and battery info for XenHTML
Maintainer: Junes <junesgraphics@gmail.com>
Author: JunesIphone & Matchstic <junesgraphics@gmail.com>
Section: Addons (Tweaks)
Depiction: http://www.junesiphone.com/supersecret/depiction.php?iframe=depiction/xeninfo
